# SFO Flight Delays Data for 1987-2008

Data taken from http://stat-computing.org/dataexpo/2009/the-data.html

This notebook downloads only SFO data fo 1987-2008 years directly from the site, 
removes some columns it and concatenates data to a singular Dataframe.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib as mpl 
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set(style="whitegrid", color_codes=True)
%matplotlib inline

In [2]:
path = 'http://stat-computing.org/dataexpo/2009/'
df = pd.DataFrame()
list_ = []
for yr in range(1987,2009):
    url = 'http://stat-computing.org/dataexpo/2009/' + str(yr) + ".csv.bz2"
    print ".. reading:", url
    tmp = pd.read_csv(url,index_col=None, header=0, compression='bz2')
    tmp.drop(['DepTime','CRSDepTime','ArrTime','CRSArrTime','ActualElapsedTime','CRSElapsedTime','AirTime','Distance','TaxiIn','TaxiOut'], axis=1, inplace=True)
    tmp.drop(tmp[(tmp['Origin'] != 'SFO') & (tmp['Dest'] != 'SFO')].index, inplace=True)
    list_.append(tmp)
df = pd.concat(list_)
df.head()

.. reading: http://stat-computing.org/dataexpo/2009/1987.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1988.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1989.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1990.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1991.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1992.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1993.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1994.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1995.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1996.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1997.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1998.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/1999.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2000.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2001.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2002.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2003.csv.bz2

C:\ProgramData\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.. reading: http://stat-computing.org/dataexpo/2009/2004.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2005.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2006.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2007.csv.bz2
.. reading: http://stat-computing.org/dataexpo/2009/2008.csv.bz2

,Year,Month,DayofMonth,DayOfWeek,UniqueCarrier,FlightNum,TailNum,ArrDelay,DepDelay,Origin,Dest,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,PS,1451,NaN,23.0,11.0,SAN,SFO,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,PS,1451,NaN,14.0,-1.0,SAN,SFO,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,PS,1451,NaN,29.0,11.0,SAN,SFO,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,PS,1451,NaN,-2.0,-1.0,SAN,SFO,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,PS,1451,NaN,33.0,19.0,SAN,SFO,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.groupby('Cancelled').size()

Cancelled
0    5347225
1     112361
dtype: int64